@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.home {
    &>h1 {
        margin: 7% 0%;
    }
    &>h2 {
        margin: 5%;
    }
    &> .__home-input-div {
        @include special-input-div;
        margin: 10%;
        
    }
    &> button {
        background-color: $second-bcolor;
        &:hover{
            background-color: $second-bcolorlight;
        }
    }
}